**Simple Expressions**
 1. Write a Python expression to calculate the area of a circle with radius r = 7.
 2. What will be the output of the expression 2 * 3 + 4?
 3. Calculate the result of (8 / 2) * (3 + 2).
 4. Write an expression to find the remainder when 15 is divided by 4.
 5. Write a Python expression to convert 100 Fahrenheit to Celsius using the formula: C = (F - 32) *
 5/9.
 6. Evaluate the expression: 10 // 3 + 2 ** 3.
 7. What does the expression 5 == 5 and 4 < 6 evaluate to?
 8. What is the output of not (4 > 5 or 3 == 3)?
 9. Write an expression that checks if a number x is odd

In [1]:
# 1. Write a Python expression to calculate the area of a circle with radius r = 7

#value of pi is 3.17 and area of circle is pi * r^2


r=7
pi=3.14
area=pi*r*r
print("area of the circle is",area)

#similarly
area2=pi*r**2
print("area of the circle is",area2)

area of the circle is 153.86
area of the circle is 153.86

In [2]:
## 2. What will be the output of the expression 2 * 3 + 4 ?
print(2*3+4)

10

In [3]:
## 3 Calculate the result of (8 / 2) * (3 + 2)
print((8/2)*(3+2))

20.0

In [4]:
## 4. Write an expression to find the remainder when 15 is divided by 4
print(15%4)

3

In [7]:
print(15//4)

3

In [11]:
# 5 . Write an expression to convert Fahrenheit to Celsius
f = 100 #f=int(input("enter the temperature in fahrenheit"))
c = (f - 32) * 5 / 9
print(c)

37.77777777777778

In [13]:
#6. Write an expression to calculate the value of 10//3 + 2**3
print(10 // 3 + 2 ** 3)

11

In [14]:
#7. What does the expxression 5==5 and 4<6 return
#since both are true we get true
print (5==5 and 4<6)

True

In [22]:
#8. what is the output of not(4 > 5 or 3 == 3)
#in or one condition has be true in this case 3==3 is true and not makes output false
print(not(4 > 5 or 3 == 3))

False

In [19]:
#9. Write an expression that checks if a number x is odd
#a number is odd when remainder is not zero when it is divided by 2
number=int(input("enter the number : "))
if number%2!=0:
    print ("number is odd")

enter the number : 3
number is odd

**Data Types**
 10. What is the type of the value 5.0?
 11. How do you convert the integer 42 to a string?
 12. What will the expression str(3.14) + ' is pi' output?
 13. What is the output type of the expression 4 + 3.5?
 14. Write a Python code to take an input from the user and convert it to an integer.
 15. How can you find the type of a variable in Python?
 16. Create a variable my_name and assign your name to it. Check if it is of type str.

In [23]:
#10 What is the type of the value 5.0?
#check type of the value 5.0 (it is decimel so float)
type(5.0)

float

In [25]:
#11 How do you convert the integer 42 to a string?
#we use casting to make a integer into string
string=str(42)
type(string)

str

In [26]:
#12
print( str(3.14) + ' is pi')

3.14 is pi

In [29]:
 #13
 val=4+3.5
 type(val)

float

In [30]:
#14
#we get input from user using input() function and cast (convert) it to integer
#as default is string
test=int(input("enter the number : "))

type(test)

enter the number : 4

int

In [31]:
#15
#we find type of a variable in python by using type() function
type(test)

int

In [33]:
#16
#created a variable my_name and entered my name in quotes
my_name="Syed Abdallah Albeez"
print(my_name, type(my_name))

Syed Abdallah Albeez <class 'str'>

**Data Structures - Lists, Tuples, Sets, and Dictionaries**
 17. How do you create an empty list in Python?
 18. Write code to add an element 42 to the end of the list [1, 2, 3].
 19. How do you access the third element in the list my_list = [10, 20, 30, 40]?
 20. What is the difference between a list and a tuple in Python?
 21. Write a Python code to create a set with the elements 1, 2, and 3.
 22. How do you remove an element from a set in Python?
 23. Write code to retrieve the value of the key 'name' from the dictionary person = {'name': 'Alice',
 'age': 25}.
 24. Create a dictionary with three key-value pairs and then remove one pair from it.
 25. Given my_tuple = (5, 10, 15), how can you access the element 10?

In [35]:
#17
empl=[] #empty list
type(empl)

list

In [38]:
#18
list=[1,2,3]
list.append(42) #append is used to add an element to the end of the list
print(list)

[1, 2, 3, 42]

In [43]:
#19
my_list = [10, 20, 30, 40]
print(my_list[2]) #list indexing starts from 0 we give 2 as index to get third element

30

In [45]:
#20

#list is mutable and tupple is immutable
my_list = [10, 20, 30, 40]
my_list[1] = 99
print(my_list)
#in tupple we will get error
my_tupple=(10,20,30,40)
my_tupple[1]=99
print(my_tupple)

[10, 99, 30, 40]

TypeError: 'tuple' object does not support item assignment

In [46]:
#21

set={1,2,3,4}
print(set)

{1, 2, 3, 4}

In [47]:
#22
#How do you remove an element from a set in Python?
set.remove(2)
print(set)

{1, 3, 4}

In [90]:
#23
dict={'name': 'Alice', 'age': 25}
#dictionaries have key and value in this case name is key and alice is value and age is another key and 25 is value
#key is dabba and value is atta
print(dict['name'])

Alice

In [92]:
#24
dict={'name': 'Alice', 'age': 25}
dict.pop('age') #remove key and value
print(dict)

{'name': 'Alice'}

In [93]:
#25
tupple=(5,10,15)
print(tupple[1]) #print tupple element at index 1 (second element)(index starts from 0)

10

Methods of Data Structures
 26. How do you find the length of a list numbers = [1, 2, 3, 4, 5]?
 27. What method would you use to add an element at a specific index in a list?
 28. Write a Python code to sort the list [4, 1, 3, 2] in ascending order.
 29. How do you check if the number 5 is in the list [1, 2, 3, 4, 5]?
 30. Write a code to concatenate two lists [1, 2, 3] and [4, 5, 6]

In [96]:
#26
list=[1,2,3,4,5]
len(list) #there are 5 elements

5

In [97]:
#27
#add element at specific index
list.insert(2,6) #we add 6 at index 2 which is 3rd index
print(list)

[1, 2, 6, 3, 4, 5]

In [54]:
#28
#by default sorting will go from smallest to largest
list=[4,1,3,2]
list.sort()
print(list)

#descending will go from largest to smallest we use reverse=True in the sort function
list.sort(reverse=True)
print(list)

[1, 2, 3, 4]
[4, 3, 2, 1]

In [55]:
#29
list=[1,2,3,4,5]
print(5 in list) #check if 5 is present in list

True

In [60]:
#30
l1=[1,2,3]
l2=[4,5,6]
#l1+=l2   #this will add l2 to l1 can be written as l1.extend(l2) or l1=l1+l2
print(l1)

[1, 2, 3, 4, 5, 6]

Branching
 31. Write a Python if statement to check if a number x is positive.
 32. Modify the previous question to include else to handle the case when x is negative or zero.
 33. Write an if-elif-else block to check if a number is positive, negative, or zero.
 34. How would you use a ternary operator to assign the value 10 to result if x > 5, otherwise assign
 5?
 35. Write an if statement that checks if a variable score is greater than or equal to 90, and if so,
 prints 'A grade'.
 36. Use an if statement to check if a list fruits = ['apple', 'banana', 'cherry'] contains the element
 'banana'.
 37. Write a nested if statement that prints 'Adult Male' if age > 18 and gender == 'male'.
 38. Create a Python code snippet using if statements to determine if a number is divisible by 3, 5, or
 both.
 39. Write an if condition that checks if a string name is not empty and prints 'Name is provided'.
 40. Use an if statement to check if a variable age is within the range 18 to 25 inclusive

In [78]:
#31 32 33
x=10
if x>0:
    print("x is positive")

print("="*50)

x=0
if x > 0:
    print("x is positive")
elif x == 0:
    print("x is zero")
else:
    print("x is negative")

print("="*50)
x=-1

if x > 0:
    print("x is positive")
elif x == 0:
    print("x is zero")
else:
    print("x is negative")

x is positive
==================================================
x is zero
==================================================
x is negative

In [81]:
#34
x=6

if(x>5):
  x=10
else:
  x=5

print(x)

10

In [82]:
#35
score=90

if score>=90: #if score is greater than or equal to 90 A grade
    print("A grade")

A grade

In [83]:
#36
fruits=["apple","banana","cherry"]
print("banana" in fruits) #check if banana is present in the list

True

In [99]:
#37
age=int(input("enter your age : "))
gender=input("enter your gender : ")
gender.islower()
if age>18 and (gender=="male" or gender=="female"):
  print(f"Adult {gender}")
else:
  print(f"minor {gender}")

enter your age : 19
enter your gender : male
Adult male

In [89]:
#38
number=(int(input("enter a number : ")))

if number%3==0 and number%5==0:
  print(f"{number} is divisible by 3 and 5")
elif number%3==0 or number%5==0:
  print(f"{number} is divisible by 3 or 5")
else:
  print(f"{number} is not divisible by 3 or 5")

enter a number : 15
15 is divisible by 3 and 5

In [ ]:
#39
#Write an if condition that checks if a string name is not empty and prints 'Name is provided'
name=input("enter your name : ")
if name!="":
  print("name provided is",name)

In [100]:
#40
age=int(input("enter a number : "))

if age in range(18,26):
  print(f"{age} is in range")
else:
  print(f"{age} is not in range")

enter a number : 19
19 is in range