In [ ]:
#Last lecture we learned about Data Structure.Now Continue With Tuples , Set and Dictionary
#Lets start with tuple

In [ ]:
#what is tuples ? Tuple is a data structure of python. tuple are always in () round brackets
#tuples are immutable.and its work with all data types.
#lets see with example.

In [ ]:
work_location=('Bengluru','Kolkata','Chennai','raipur') #its a tuple

In [ ]:
work_location #PRINT it to see its content

('Bengluru', 'Kolkata', 'Chennai', 'raipur')

In [ ]:
#check type

In [ ]:
type(work_location) #check its type to ensure

tuple

In [ ]:
#Lets try to add new work location.like list method

In [ ]:
work_location.append('Korba') #its not add , because tuple are immutable

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
#Its not add , because tuple are immutable
#But dont worry, we have a trick to add .
#lets see how we can add.
#first we have to convert tupple into a list.

In [ ]:
work_location=list(work_location) #convert tuple to list using list method

In [ ]:
#now you can edit

In [ ]:
work_location.append('Korba') #now itll work without giving error as list is mutable

In [ ]:
work_location

['Bengluru', 'Kolkata', 'Chennai', 'raipur', 'Korba']

In [ ]:
#now back to change in tuple

In [ ]:
work_location=tuple(work_location) #convert list back to tuple

In [ ]:
work_location

('Bengluru', 'Kolkata', 'Chennai', 'raipur', 'Korba')

In [ ]:
#Hi Hi Hi , we can change !!

In [ ]:
#How many cities in tuple , i mean what is the length of tuple,
#checking length in tuple like List.

In [ ]:
len(work_location) #check length of tuple

5

In [ ]:
#Similarly you can work with numbers as well , no change in the concept.

In [ ]:
work_location

('Bengluru', 'Kolkata', 'Chennai', 'raipur', 'Korba')

In [ ]:
#use indexing just like we did in list

In [ ]:
work_location[1]

'Kolkata'

In [ ]:
#slicing just like a list

In [ ]:
work_location[-2]

'raipur'

In [ ]:
#Basics Tuple Method.
#Tuple have buit in method , but not many as list,
#lets see two samples of tuples built in method

In [ ]:
numbers=(50,60,40,90,80,70,60,50,40,70,10,20,30,7,50,50) #sample of tuple

In [ ]:
#use .index to enter a value,  and return the index

In [ ]:
numbers.index(30)

12

In [ ]:
#Use .count to count the number of times a value appears

In [ ]:
numbers.count(50) #how many times 50 appeared in tuple

4

In [ ]:
#Lets Study about Set.
#So what is set ? set is a data structure in python. sets are an unordered collection of unique element-
#-which can be constructed using set() fucntion.

In [ ]:
#Sets   =   1 -  Keeps item in sorted order
#           2 - eliminate the duplicates element.
#lets see with examples.

In [ ]:
roll_number=set()

In [ ]:
#check the type

In [ ]:
type(roll_number)

set

In [ ]:
#we add to set with the add methods

In [ ]:
roll_number.add(1)

In [ ]:
roll_number

{1}

In [ ]:
#we know that set has only take unique element . lets se if we add duplicates. whats python shows.

In [ ]:
#add different element

In [ ]:
roll_number.add(2)

In [ ]:
roll_number

{1, 2}

In [ ]:
#Try to add the same element

In [ ]:
roll_number.add(1)

In [ ]:
#they did not show any error. but the also dont add ion our roll_number set because its unique.
#lets see

In [ ]:
roll_number

{1, 2}

In [ ]:
#You have to know one thing where we use set method.
#lets i can tell you , if we have list with numbers , but in our list lots of numbers available -
#- and we have to find only unique element .
#what we can do,  we can use set method to get unique element
#lets see how its work

In [ ]:
numbers=[1,2,3,4,5,6,7,8,9,1,2,3,4,56,789,12,74,74,85,96,74,85,96,4,1,52,63,52,41,56,56]

In [ ]:
#cast to get unique elements from list

In [ ]:
remove_duplicate=set(numbers) #cast to get unique elements from list

In [ ]:
remove_duplicate #lets see the can show only unique element .

{1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 41, 52, 56, 63, 74, 85, 96, 789}

In [ ]:
#again you can covert to list if you want (after removing duplicates)

In [ ]:
numberss=list(remove_duplicate) #again you can covert to list if you want (after removing duplicates)

In [ ]:
#lets do

In [ ]:
#Now Study about dictionary
# what is dictionary ? dictionary is also a data staructure,dictionary contain keys:value in curly {} brackets.
#dictionary will take corresponding value
#we can construct dictionary to get better understanding.

In [ ]:
my_dict={'key1':'value1','key2':'value2'} #construct dictionary

In [ ]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [ ]:
#call the value by their key

In [ ]:
my_dict['key1']

'value1'

In [ ]:
#note that dictionary are very comforatblw with all data types.

In [ ]:
my_dict={'Roll Number':123,'Subjects':['Maths','science','Computer'],'Marks':[24,29,25]}  #student details stored in dictionary such as roll number,subject,marks

In [ ]:
my_dict #print the items

{'Roll Number': 123,
 'Subjects': ['Maths', 'science', 'Computer'],
 'Marks': [24, 29, 25]}

In [ ]:
#Lets call specific items from the dictionary

In [ ]:
my_dict['Subjects']

['Maths', 'science', 'Computer']

In [ ]:
#can call  an index on that value.

In [ ]:
my_dict['Subjects'][0]

'Maths'

In [ ]:
my_dict['Subjects'][1]

'science'

In [ ]:
my_dict['Subjects'][2]

'Computer'

In [ ]:
#we cal aslo capitalise the element which can present in dictionary

In [ ]:
my_dict['Subjects'][2].upper()

'COMPUTER'

In [ ]:
#add Marks to the first element

In [ ]:
my_dict

{'Roll Number': 123,
 'Subjects': ['Maths', 'science', 'Computer'],
 'Marks': [24, 29, 25]}

In [ ]:
my_dict['Marks'][0]=my_dict['Marks'][0]+6

In [ ]:
my_dict

{'Roll Number': 123,
 'Subjects': ['Maths', 'science', 'Computer'],
 'Marks': [30, 29, 25]}

In [ ]:
#Python can multiple, addition , substraction and divide .

In [ ]:
#another way of adding

In [ ]:
my_dict['Marks'][0]+=4

In [ ]:
my_dict

{'Roll Number': 123,
 'Subjects': ['Maths', 'science', 'Computer'],
 'Marks': [34, 29, 25]}

In [ ]:
#lets subtract

In [ ]:
my_dict['Marks'][0]-=4

In [ ]:
my_dict

{'Roll Number': 123,
 'Subjects': ['Maths', 'science', 'Computer'],
 'Marks': [30, 29, 25]}

In [ ]:
#How we can add key .and values .

In [ ]:
my_dict['Year']=2015

In [ ]:
my_dict

{'Roll Number': 123,
 'Subjects': ['Maths', 'science', 'Computer'],
 'Marks': [30, 29, 25],
 'Year': 2015}

In [ ]:
#lets note down one thing. if we have to add key and value , with the help of last used method
# we have to enter key and value , if the key name is already present in dictionary .
# they will add  the value in old keys., this reason for we have have to write new key name.

In [ ]:
#Update values()

In [ ]:
my_dict.update({'Roll Number':100})

In [ ]:
my_dict

{'Roll Number': 100,
 'Subjects': ['Maths', 'science', 'Computer'],
 'Marks': [30, 29, 25],
 'Year': 2015}

In [ ]:
#Items will return both keys and corresponding values.

In [ ]:
my_dict.items()

dict_items([('Roll Number', 100), ('Subjects', ['Maths', 'science', 'Computer']), ('Marks', [30, 29, 25]), ('Year', 2015)])

In [ ]:
#Branching (if,elif,else).      what is elif ? else + if =elif
#Puthon provide the if statement to allow branching based on condition. multiple elif checks-
# - can also be peformed followed by an optional else caluse. the statment can be used with any evaluation of truthiness.

In [ ]:
#In my word branching (if,elif ,else) they can provide us to check truthiness of elements
# you would better understand with example
#lets se example

In [ ]:
i =10
if i<11: # definitely you have doubt whay print is in space, is know as indentation.means four space
    print('i is smaller')
else:
    print('i is greater')

i is samller

In [ ]:
#You can write in this way (2nd way to write (if,elif,else)statement)

In [ ]:
print('i is smaller')if i<11 else print('i is greater') #the above statement is same as this statement but in one line

i is smaller

In [ ]:
#lets se with another example.
#free shipping message

In [ ]:
item_1=100
item_2=300

if (item_1+item_2)>=500:
    print('Your item in eligible for free shipping')
else:
    extra=500-(item_1+item_2)
    print('please add',extra,'Rs worth for free shipping')

please add 100 Rs worth for free shipping

In [ ]:
#Lets see different example with 'and' method

In [ ]:
a=200
b=33
c=500

if a>b and c<a:
    print('Both condtion are true')
else:
    print('Both condion are wrong') #because c>a is false

Both condion are wrong

In [ ]:
#Lets see different example with 'or' method

In [ ]:
a=200
b=33
c=500

if a>b or c<a: #if one of the condition is true in this case a>b is true
    print('Atleast one of the condition are true') #print this
else:
    print('Both condition are wrong') #otherwise print this

Atleast one of the condition are true

In [ ]:
#Lets see with Different Example
#Lets check Student leve

In [ ]:
#Lets check marks and print student level
marks=60

if marks>=60:
    if  marks>70:
        print(marks,'distiction')
    else:
        print(marks,'First class')
elif marks>50 and marks<60:
    print(marks,'second division')
elif marks>35:
    print(marks,'Just pass')
else:
    ('marks','Fail Better luck next time')

60 First class

In [ ]:
#See with another example

In [ ]:
num1=20
num2=30
if num1<num2:
    print(num1,'is greater')
elif num2==31:
    print(num2,'is equal to 31')

20 is greater

In [ ]:
#Thats all about Branching(if,elif,else)

In [ ]:
#AI/ML Engineer-Saurav
#Date-26 june 2024
#Time- 10:12