In [ ]:

#Study about range,loop,break and continue statement.
#Lets Start with Range Fucntion..

In [ ]:
# so, What is range function ? we can genrate a sequence of numbers  using range() function , range(10) will generate numbers -
# -from 0 to 9 (10 numbers). we cance also define the starting number of range,which number we can stop, and step size.
# its write on the (starting number, stop number,step size)
# to force the function to output all the items we can use the function list()



# Lets  see Example.

In [ ]:
print(range(10)) #it will print 0 to 9 (10 numbers)

range(0, 10)

In [ ]:
#print range in list.

In [ ]:
print(list(range(10))) #it will print 0 to 9 (10 numbers) in list.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#what if we can generate number from 10 and its goes 100 and the step size is 2.
#lets see

In [ ]:
print(list(range(10,101,2)))#it will print 10 to 101 in list with step size 2.

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
# see in above example , we use 101 for going to 100. because starting number is included and stop number is excluded.
#this reason for we write a 101 for getting 100.

In [ ]:
#can we store range fuction in variable ? yes we can. lets see.

In [1]:
roll_num=list(range(10,50,1)) #it will print 10 to 49 in list with step size 1.

In [2]:
roll_num

[10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [ ]:
# Lets see Reverse function with range fucntion..
#if we have to go backword in range funciton what we will do.
#lets see. how we go with example.

In [3]:
reverse=list(range(1600,99,-100))
#Lets Remember we have to minus sign for going backword.
#basically it will go backword from 1600 to 99 with -100 being deducted.

In [4]:
reverse

[1600,
 1500,
 1400,
 1300,
 1200,
 1100,
 1000,
 900,
 800,
 700,
 600,
 500,
 400,
 300,
 200,
 100]

In [ ]:
# This all about range function


#Lets stude about loop fucntion
# So, what is loop fucntion ? some time we want to repeat a set of statement in pur program for instance.
# like  print 1 to 1000(with range function)
# programming language provide various control structure that allows for more complicated execution.


# There are 2 types of loop..   1- For loop  ,  2 - While loop
# First we have to study about For loop , so what is for loop ? A for loop is used to iterate through a sequence like list,-
#  - tuple, or string [iterable], loop continues untill we reach the last number or of item in sequence

#Syntax with range fucntion- for i in range(10):
#                               print(i)

#Lets se with list.

In [ ]:
location=["Korba","Bilaspur","Raipur","Patna","Siwan"] #lets create a list with locations.

In [ ]:
location  #Lets apply for loop method.

['Korba', 'Bilaspur', 'Raipur', 'Patna', 'Siwan']

In [ ]:
for city in location:
    print(city) #it will print all the location in list one by one.

Korba
Bilaspur
Raipur
Patna
Siwan

In [ ]:
#lets apply for numbers

In [ ]:
salary=[1000,2000,3000,5000,7000,1000,2000,9000] #lets create a list with salary.

In [ ]:
for money in salary:
    print(money) #it will print all the salary in list one by one.

1000
2000
3000
5000
7000
1000
2000
9000

In [ ]:
#Lets see anothe example of for loop with branching statement.

In [ ]:
student_score=[78,98,65,45,89,87,32,65,54,98,89,78,69,58,47]

In [ ]:
#what we have to do in the above cell. we have to create a grades for student_score in abovr list.
#lets see how we can do.

In [ ]:
for marks in student_score:
    if marks>90: #if marks is greater than 90
        if marks>85: # if marks is greater than 85
            print(marks , "Distiction")
        else : # if marks is not greater than 85
            print(marks , "First class")
    elif marks >60 and marks<85 : # if marks is greater than 60 and less than 85
        print(marks ,"First class")
    elif marks>45:# if marks is greater than 45
        print(marks ,"Second class")
    elif marks >35: # if marks is greater than 35
        print(marks ,"Jsut Pass")
    else: # if marks is not greater than 35
        print(marks ,"You are fail, please try next time")
#we will use on list by looping

78 First class
98 Distiction
65 First class
45 Jsut Pass
89 Second class
87 Second class
32 You are fail, please try next time
65 First class
54 Second class
98 Distiction
89 Second class
78 First class
69 First class
58 Second class
47 Second class

In [ ]:
# Lets See, What is list comprehension ? List comprehension is a shorter syntax when you want to create a new list  based ,-
# on the values of existing list.

# lets create a list.

In [ ]:
salary=[1000,2000,3000,5000,7000,1000,2000,9000]
#then apply list comprehension.

In [ ]:
sal=[val for val in salary if val==2000] #it will print only 2000s in list.

In [ ]:
sal

[2000, 2000]

In [ ]:
# for loop with else

#lets see how we can use for loop with else method.  - A for loop have an optional else block,as well the else part is executed
# ,if the items in the sequence used in for loop exhaust. break statement ,can be used to stop a for loop ,in such case the else
# part is ignored     ,   Hence a for loop else part runs when not break method occurs.

In [ ]:
#Print multiplication table with for loop with else.

In [ ]:
for num in range(2,5): #Lets print multiplication table with for loop with else.
    print("Multiplication table for",num)
    for i in range(1,11):
        print(num*i)
        if i ==10:
            print( "\n" )
else:
    print("*" * 30)
    print("Thats all")
    print("*" * 30)

Multiplication table for 2
2
4
6
8
10
12
14
16
18
20


Multiplication table for 3
3
6
9
12
15
18
21
24
27
30


Multiplication table for 4
4
8
12
16
20
24
28
32
36
40


******************************
Thats all
******************************

In [ ]:
#Lets se another way of print multiplication table.

In [ ]:
num=int(input("Enter Number which one you want a table")) #we have to take input from user and cast it into integer as it takes string by default

for i in range(1,11):
    print(str(num), 'X' ,str(i),"=",str(num*i))

Enter Number which one you want a table 5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [ ]:
#Lets see what is F string ? Formatted string litrel . is use for F-strings can also be used to apply number
#- formatting directly to the values.
#Lets print multiplication table with f string.
#Lets see with example.

In [ ]:
num=int(input("Enter Number which one you want a table"))

for i in range(1,11):
    print(f"{num}X{i}={num*i}")   #We have to write varaibles in curly brackets and other is whithour curly brackets.

Enter Number which one you want a table 5

5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50

In [ ]:
#Now Start What is While Loop ? In while loop, the condition is checked first if it evaluate to true , the body of the loop is executed
# , otherwise not.   In the loop entered , the process of [conditon executed] is continued until the condition become false .

#Python intrepret any non zero as True , None and zero are interpreted as False.

#Syntax of while loop
#Lets see

In [ ]:
i=0
while i<=5:
    print(i)
    i=i+1

0
1
2
3
4
5

In [ ]:
#One More Example of While Loop.
#Lets say you have to set an alarm and how its work.
#First we havt to import time.

In [ ]:
import time

In [ ]:
result =time.localtime() #this will show current time.

In [ ]:
result

time.struct_time(tm_year=2024, tm_mon=5, tm_mday=7, tm_hour=11, tm_min=13, tm_sec=9, tm_wday=1, tm_yday=128, tm_isdst=0)

In [ ]:
# Now the time is shown, now we havt to set an alarm .let see how we set alarm with the help of while loop.

In [ ]:
while True:
    result=time.localtime()
    if result.tm_hour==11 and result.tm_min==14:
        print("Wake up buddy")
        break

Wake up buddy

In [ ]:
#lets Study about small and easy thing
#enumerate,zip,unzip
#Lets Start with enumerate.
#What is enumerate ? Enumerate() allows us to iterate through a sequence but it keeps track of both the index and the element.
#lets see with example.

In [ ]:
student=["Saurav","Gaurav","Ramesh","Suresh","Mukesh"]

In [ ]:
for i in enumerate(student):
    print(i)

(0, 'Saurav')
(1, 'Gaurav')
(2, 'Ramesh')
(3, 'Suresh')
(4, 'Mukesh')

In [ ]:
#If we want to start numbering from our own number ? How it will do.
#we use same list.

In [ ]:
student=["Saurav","Gaurav","Ramesh","Suresh","Mukesh"]

In [ ]:
for i,name in enumerate(student,1):
    print(i,name)

1 Saurav
2 Gaurav
3 Ramesh
4 Suresh
5 Mukesh

In [ ]:
#Lets start zip method.
#what is zip method ? zip method use when we join a two list.
#see with example you better under stand

In [ ]:
student_name=["Ramesh","Riya","Yashu","Rohit","Amisha"]
student_marks=[54,98,99,100,34]

In [ ]:
student_details=list(zip(student_name,student_marks)) #Lets apply zip method.

In [ ]:
student_details

[('Ramesh', 54), ('Riya', 98), ('Yashu', 99), ('Rohit', 100), ('Amisha', 34)]

In [ ]:
#and How to Unzip.

# use * for unziping

In [ ]:
name,marks=list(zip(*student_details))

In [ ]:
name

('Ramesh', 'Riya', 'Yashu', 'Rohit', 'Amisha')

In [ ]:
marks

(54, 98, 99, 100, 34)

In [ ]:
#Lets know one thing How we can do enumerate and zip in same time.

In [ ]:
student_name=["Ramesh","Riya","Yashu","Rohit","Amisha"]
student_marks=[54,98,99,100,34]

In [ ]:
for i,(name,marks) in enumerate(zip(student_name,student_marks),1): #
    print(i,name,marks)

1 Ramesh 54
2 Riya 98
3 Yashu 99
4 Rohit 100
5 Amisha 34

In [ ]:
#Now Stude about Breaka and Continue Statement.
#So,what is break statement- The Break Statement used to terminate the loop, it is used in loop and swith case.
# Keyword "break" used in Break Statement , contol is tranfer outside.

#Lets see with example.

In [ ]:
salary=[8000,5000,6000,7000,3000]

In [ ]:
for val in salary: # we have to print all the values except 7000 and no values after 7000 element is found
    if val==7000:
        break
    print(val)

8000
5000
6000

In [ ]:
# Continue Statement- Continue statement is used to continue the next interation in the loop, its only used in loop, keyword
#"continue" used for continue statement , control remains in the same loop.
#Lets see with example

In [ ]:
salary=[8000,5000,6000,7000,3000]

In [ ]:
for val in salary: # we have to print all the values except 6000
    if val==6000:
        continue
    print(val)

8000
5000
7000
3000

In [ ]:
#Lets see how to use break and continue statements together.

In [ ]:
for val in "Stringexample":
    if val == "i":
        continue
    else:
        if val=="x":
            break
        print(val)

S
t
r
n
g
e

In [ ]:
#AI/ML Engineer-Saurav
#Date-1 July 2024
#Time- 11:14