In [ ]:
#AI/ML
#Basics Python
#Lets Continue with Complex Number then we study about string and list.

In [ ]:
#lets start with complex number
#Complex Number ? A complex number which can we studied in ou school. its abot real number and imaginary number ,
#which can be denote as i,
#example of complex number - 2+5i, But in pyhton i is denoted with j
#see example in jupyer cell.

In [ ]:
c=2+5j

In [ ]:
type(c)

complex

In [ ]:
#but in data science we dont use complex number.

In [ ]:
#String. What is string - String when we use alphabet in single,double and tripple quotes
#tripple quote is also used for documentation
#see example of String

In [ ]:
a='Ram is hero' #this is string

In [ ]:
a

'Ram is hero'

In [ ]:
type(a) #we check type to ensure its string

str

In [ ]:
#one more example

In [ ]:
#we have created 3 individual strings give space in front of str2 qand str3
str1='python'
str2=' is a powerful'
str3=' language'

In [ ]:
#how we add str1,str2 and str2 together how we added numbers before

In [ ]:
print(str1+str2+str3)

python is a powerful language

In [ ]:
#we can add directly without ececuting codes

In [ ]:
print("saurav"+" is ex"," mining engineer")

saurav is ex  mining engineer

In [ ]:
#other operation on string

In [ ]:
print('  Day' *  5)  #(* use for multiplication) to print a string more than once efficiently

  Day  Day  Day  Day  Day

In [ ]:
print(' =' * 100)

 = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =

In [2]:
print(' = \n' * 100) #\n use for new line

 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =
 =

In [ ]:
#lets add string + integer

In [ ]:
print('Day' + 5) #it will give error

TypeError: can only concatenate str (not "int") to str

In [ ]:
#How we can concatenate string + integer ?
#we gave to convert integer into sring.

In [ ]:
print('Day' + str(5)) #it will work

Day5

In [ ]:
#Now We Studied about Data Structure.
#what is data structure ? Data structure which can hold,store and save out data
#there are different different typre data structure
#1- List
#2- Tuple
#3- Set
#4- Dictionary

In [ ]:
#Lets Start with list
#So, What is list?, List is like a container which can hold our data ., and list is always in square brackets [].
#Accommodate all types of data.
#list are mutable.
#what is mutable ? mutalbe means where we can edit(update,insert,add,count)our data.

In [ ]:
#Create empty  list

In [ ]:
lst=[] #this is empty list

In [ ]:
lst

[]

In [ ]:
type(lst) #verify type

list

In [ ]:
# to create proper list
#we have to store our data in list

In [ ]:
lst=['a','b','c','d']

In [ ]:
lst

['a', 'b', 'c', 'd']

In [ ]:
#How to copy into their list

In [ ]:
l2=list(lst) #this is copy of lst list

In [ ]:
l2

['a', 'b', 'c', 'd']

In [ ]:
#Different way to copy a list
#Copy() Method

In [ ]:
marks=[30,40,50,60]

In [ ]:
copy_marks=marks.copy()

In [ ]:
copy_marks

[30, 40, 50, 60]

In [ ]:
#Another way to make list

In [ ]:
list('saurav') #this method can separate all the elemnts.

['s', 'a', 'u', 'r', 'a', 'v']

In [ ]:
#Lets Try with integer

In [ ]:
list(8885) #integer object is not iterable

TypeError: 'int' object is not iterable

In [ ]:
#Lets Try append mends
#create an empty list and append data by usind appen method.

In [ ]:
l1=[] #this is empty list

In [ ]:
l1.append('saurav') #we add saurvan to thed empty list we made

In [ ]:
l1

['saurav']

In [ ]:
#add one more thing
l1.append('vicky')

In [ ]:
l1 #check if list got updated

['saurav', 'vicky']

In [ ]:
#add two item
l1.append('yashu')
l1.append('shivangi')

In [ ]:
l1

['saurav', 'vicky', 'yashu', 'shivangi']

In [ ]:
#index and insert-Two arguments can be paced in insert method
#insert(index,insert) meaning of index is where we have to add objects and  meaning of insert is what object we have to store.
#see with  example
#lets make new list

In [ ]:
l1=['saurav','vicky','minakshi','Donald Trump','Imran khan']

In [ ]:
l1

['saurav', 'vicky', 'minakshi', 'Donald Trump', 'Imran khan']

In [ ]:
#now we inserting a data in the place of imran khan
#lets see how we can add

In [ ]:
l1.insert(4,'putin') # as list index works like 0,1,2,3,4 0- Being saurav and 4- being putin

In [ ]:
l1 #list updated with name replaced in desired position

['saurav', 'vicky', 'minakshi', 'Donald Trump', 'putin', 'Imran khan']

In [ ]:
#one more example with numbers

In [ ]:
l1=[11,22,33,44,55,66]

In [ ]:
l1.insert(2,88)

In [ ]:
l1

[11, 22, 88, 33, 44, 55, 66]

In [ ]:
#list Extended Method
#How to check total element in the list.
#lets create a list

In [ ]:
l1=[44,55,66,99,77,88]

In [ ]:
len(l1)

6

In [ ]:
#Indexing and Slicing. are always in square brackets[]
#creating a list

In [ ]:
l1=['saurav','gaurav','lovely','advit']

In [ ]:
l1[0]

'saurav'

In [ ]:
l1[1]

'gaurav'

In [ ]:
l1[2]

'lovely'

In [ ]:
l1[3]

'advit'

In [ ]:
#How to replace object in list
#we have to replace advit by babu

In [ ]:
l1[3]='Babu'

In [ ]:
l1

['saurav', 'gaurav', 'lovely', 'Babu']

In [ ]:
#Replace with Integer
#lets create a list with numbers

In [ ]:
l1=[11,22,33,66,44,88,99,44]

In [ ]:
#in l1 66 replace with 1607

In [ ]:
l1[3]=1607 #we replace 66 with 1607

In [ ]:
l1

[11, 22, 33, 1607, 44, 88, 99, 44]

In [ ]:
#Gran index 1 from l1 and exerything from past
#lets see

In [ ]:
l1

[11, 22, 33, 1607, 44, 88, 99, 44]

In [ ]:
l1[1:]

[22, 33, 1607, 44, 88, 99, 44]

In [ ]:
l1[2:]

[33, 1607, 44, 88, 99, 44]

In [ ]:
#see and understabd

In [ ]:
l1

[11, 22, 33, 1607, 44, 88, 99, 44]

In [ ]:
l1[1:7] #what isdone here.

[22, 33, 1607, 44, 88, 99]

In [ ]:
l1[:3] #0 1 2 index elements will be printed   if we leave empty it means (jitna pehle se shuru hota hain / absolute start):3   3:(jitna end tak jaata hain/absolute end)

[11, 22, 33]

In [ ]:
#we also use "+" sign to concatinate list, just like we did for string

In [ ]:
l1

[11, 22, 33, 1607, 44, 88, 99, 44]

In [ ]:
l1

[11, 22, 33, 1607, 44, 88, 99, 44]

In [ ]:
l1+[6622] #this is temporary

[11, 22, 33, 1607, 44, 88, 99, 44, 6622]

In [ ]:
#this concatinate method does not change permanently.
#in case if you want to concatinate permanently you use different method
#just see

In [ ]:
l1=l1+[5566] #this is permanent

In [ ]:
l1

[11, 22, 33, 1607, 44, 88, 99, 44, 5566]

In [ ]:
#if you want to duplicate
#you have to use duplicate method
#just see

In [ ]:
l1

[11, 22, 33, 1607, 44, 88, 99, 44, 5566]

In [ ]:
l1 * 4 #like that

[11,
 22,
 33,
 1607,
 44,
 88,
 99,
 44,
 5566,
 11,
 22,
 33,
 1607,
 44,
 88,
 99,
 44,
 5566,
 11,
 22,
 33,
 1607,
 44,
 88,
 99,
 44,
 5566,
 11,
 22,
 33,
 1607,
 44,
 88,
 99,
 44,
 5566]

In [ ]:
# if you want to decorate your code
#then you will do someting to decorate
#lets see
#making a list and decorate

In [ ]:
print('=' * 100)

print(l1)

print('=' * 100)   #like that

====================================================================================================
[11, 22, 33, 1607, 44, 88, 99, 44, 5566]
====================================================================================================

In [ ]:
#if you double you anything by using * method they dont double for permanent

In [ ]:
#Advanced List
#count method
#what is count method ? count methos is which method the csn show how many time availability of duplicate things.
#so lets see how we can you count method.
#create list with the name of marks

In [ ]:
marks=[51,56,89,78,89,45,56,12,12,32,45,32,65,45,89,78,45,56,23,12,4,5,23,23,56,] #this is list of marks

In [ ]:
#we have to find 23 , is how much time is marks list.

In [ ]:
marks.count(23) #we will find how many times 23 occured

3

In [ ]:
marks.count(89)

3

In [ ]:
#this will show only first element index if there are duplication.

In [ ]:
#Extend Method.
#manu time people confused with extend and append method. lets i can show you both method extend and append . and
#what is the the diffrences
#start with append method.

In [ ]:
lst=['munmun','lovely']

In [ ]:
lst

['munmun', 'lovely']

In [ ]:
lst.append(['amisha','khushi'])

In [ ]:
lst

['munmun', 'lovely', ['amisha', 'khushi']]

In [ ]:
#thats not look like right .
#lets check with extend method

In [ ]:
lst1=['munmun','lovely']

In [ ]:
lst1

['munmun', 'lovely']

In [ ]:
lst1.extend(['amisha','khusi']) #this is extend method to add multiple elements to the list

In [ ]:
lst1

['munmun', 'lovely', 'amisha', 'khusi']

In [ ]:
#thats look cool
#this is the diffrences.
#similarly you can add integer data as well concepts is same for any type data.

In [ ]:
#Pop method
#what is pop method ? pop mehod help for delete last index elemnt from any list.
#lets see with example.

In [ ]:
lst1=['Raj','Saurav','Garima','Riya','Gaurav','Ratnesh','Shailesh']

In [ ]:
lst1

['Raj', 'Saurav', 'Garima', 'Riya', 'Gaurav', 'Ratnesh', 'Shailesh']

In [ ]:
#what we do if we have to delete "Shailesh" from our list.

In [ ]:
pop_shailesh=lst1.pop() #this will delete Shailesh from our list by removing last element

In [ ]:
pop_shailesh

'Shailesh'

In [ ]:
lst1

['Raj', 'Saurav', 'Garima', 'Riya', 'Gaurav', 'Ratnesh']

In [ ]:
#Delete based on index positon
#lets check

In [ ]:
lst1

['Raj', 'Saurav', 'Garima', 'Riya', 'Gaurav', 'Ratnesh']

In [ ]:
#we have to delete "Garima" From our list

In [ ]:
pop_garima=lst1.pop(2) #this will delete Garima from our list with index position 2

In [ ]:
pop_garima

'Garima'

In [ ]:
lst1

['Raj', 'Saurav', 'Riya', 'Gaurav', 'Ratnesh']

In [ ]:
#Remove method
#what is remove method ?  remove method helps for delete element from our list.
#lets see with example

In [ ]:
lst1=[12,33,66,55,44,77,88,99,11,22,33,44,55,66,77,88]

In [ ]:
lst1.remove(55) #this will remove 55 from our list

In [ ]:
lst1

[12, 33, 66, 44, 77, 88, 99, 11, 22, 33, 44, 55, 66, 77, 88]

In [ ]:
#lets remember one thing remove method only work with integer.
#and they can delete first element if there is any duplication

In [ ]:
#Reverse Mehtod.
#what is reverse method ? reverse method helps in to reverse show the all element in list.
#lets see..

In [ ]:
lst1=[11,22,33,44,55,66,44,55,66,77,88,99]

In [ ]:
lst1.reverse() #this will reverse the list (i.e first element to last element and last element to first element)

In [ ]:
lst1

[99, 88, 77, 66, 55, 44, 66, 55, 44, 33, 22, 11]

In [ ]:
#thats how i want to show you

In [ ]:
#Sort Method
#What is sort method ? sort method helps in  to arrange the elements by ascending and descending order.
#lets see.

In [ ]:
lst1

[99, 88, 77, 66, 55, 44, 66, 55, 44, 33, 22, 11]

In [ ]:
lst1.sort() #this will sort in ascending order

In [ ]:
lst1

[11, 22, 33, 44, 44, 55, 55, 66, 66, 77, 88, 99]

In [ ]:
#sort in descending order.

In [ ]:
lst1

[11, 22, 33, 44, 44, 55, 55, 66, 66, 77, 88, 99]

In [ ]:
lst1.sort(reverse=True) #this will sort in descending order

In [ ]:
lst1

[99, 88, 77, 66, 66, 55, 55, 44, 44, 33, 22, 11]

In [ ]:
#AI/ML Engineer-Saurav
#Date-25 June 2024
#Time- 14:15